/* Hei näin kommentoit css:sää */
/* Laita tänne omat tyylittelyt :D */

@font-face {
  font-family: "MapleMono";
  src: url('../fonts/MapleMono-NF-Regular.woff2');
}

@font-face {
  font-family: "ArialRounded";
  src: url('../fonts/Arial-RoundedBold.woff');
}

h1 {
  font-family: "ArialRounded";
}

a:link {
  text-decoration: none;
}



body {
  width: 75%;
  max-width: 1150px;
  background-color: #ECEEEB;
  background-image: url("../images/dots7.png");
  background-size: cover;
  font-family: 'ArialRounded';
  color: #414E5B;
  margin-right: 10%;
  margin-left: 23%;
  padding: 0;
}

header {
  width: 80%;
  justify-content: space-around;
}

header h1 {
  text-align: right;
}

.contentgrid {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
}

.contentgrid article {
  margin: 0 auto;
  width: 30%;
}

.contentgrid article a {
  text-align: center;
  display: table;
  margin: 2rem auto;
  width: 100%;
  text-align: left;
  transition: transform .25s;
}

.contentgrid article a:hover {
  transform: scale(1.1);
}

.contentgrid img {
  display: table;
  max-width: 100%;
  outline-style: solid;
  outline-width: 3px;
  outline-color: #A5AEBA;
  border-radius: 7%;
  box-shadow: 0px 3px 5px #999;
  margin: 0 auto;
}

.contentgrid h3 {
  display: table-caption;
  caption-side: bottom;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: left;
  font-size: 1.25rem;
  text-emphasis: none;
  text-decoration: none;
  color: #414E5B;
}

.contentgrid p {
  display: table-caption;
  caption-side: bottom;
  margin: 0 auto;
  text-align: left;
  font-family: "MapleMono";
  font-size: 0.75rem;
  text-emphasis: none;
  text-decoration: none;
  color: #414E5B;
  margin-bottom: 2rem;
}


section {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 70%;
  left: 5%;
}

section img {
  width: 60%;
  display: flex;
  align-self: center;
  margin: 3rem auto;
  outline-style: solid;
  outline-width: 6px;
  outline-color: #A5AEBA;
  border-radius: 7%;
  box-shadow: 0px 3px 8px #999;
}

section p {
  line-height: 160%;
  color: #414E5B;
  font-family: 'Karla';
  font-weight: 700;
}

section h2 {
  font-size: xx-large;
  text-align: center;
}


#sidenav {
  height: 100%;
  max-width: 19%;
  max-height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 45px;
  outline: solid;
  outline-width: 6px;
  outline-color: #37C6F4;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, rgba(196, 199, 195, 0.36), rgba(146, 148, 145, 0.36));
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start;
  align-content: space-around;
}

#sidenav a {
  padding: 0 15px 2rem 15px;
  text-decoration: none;
  font-size: 1.5vw;
  color: #414E5B;
  text-align: center;
}

#sidenav a p {
  margin: 0 auto;
}

#sidenav a img {
  max-width: 30%;
  border-radius: 22%;
  box-shadow: 0px 3px 5px #666;
}

#sidenav a:hover {
  color: #798999;
  animation-name: clickMe;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.mobilemenu {
  position: fixed;
  right: 10%;
  bottom: 8%;
  z-index: 40;
  display: none;
}

.mobilemenu img {
  width: 5rem;
  border-radius: 50%;
  box-shadow: 3px 3px 5px #b9b9b9;
}

.mobilemenu:active {
  transform: scale(1.2);
}

@keyframes clickMe {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

#mobilenav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  width: 50%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 45px;
  outline: solid;
  outline-width: 6px;
  outline-color: #37C6F4;
  position: fixed;
  z-index: 50;
  top: 0;
  right: 0;
  background-color: #CFD1CE;
  background-image: url("../images/dots9.png");
  background-size: cover;
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.5s;
  display: none;
}

#mobilenav a {
  text-align: center;
  text-decoration: none;
  justify-content: space-around;
  align-content: space-around;
}

#mobilenav a p {
  font-size: 1rem;
  color: #414E5B;
}

#mobilenav img {
  position: relative;
  left: 35%;
  width: 30%;
  border-radius: 22%;
  box-shadow: 0px 3px 5px #666;
}


#mobilenav .closebtn {
  position: fixed;
  z-index: 60;
  top: 0;
  right: 25px;
  color: #414E5B;
  font-size: 40px;
}

.button {
  background-image: linear-gradient(to top, #B7B7B7 0%, #ECEEEB 85%, #B5ECFE 100%);
  outline: solid;
  outline-color: #B7B7B7;
  outline-width: 3px;
  border-radius: 25px;
  box-shadow: 0px 3px 5px #b9b9b9;
  color: #414E5B;
  padding: 10px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: transform .2s;
}

.viesti {
  white-space: nowrap;
  text-align: center;
  height: 8%;
  width: 40%;
  max-width: 100px;
}

.button:hover {
  outline-color: #b9b9b9;
  background-image: linear-gradient(to top, #b9b9b9 0%, #B7B7B7 20%, #ECEEEB 90%, #B5ECFE 95%, #37C6E4 100%);
  animation-name: clickMe;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

footer {
  bottom: 0;
  left: 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 80%;
  max-width: 1150px;
  min-height: 15rem;
  margin: 0 auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-family: 'ArialRounded';
  outline: solid;
  outline-width: 6px;
  outline-color: #37C6F4;
  z-index: 15;
  background-image: linear-gradient(to top, rgba(146, 148, 145, 0.66), rgba(196, 199, 195, 0.66));
  margin-top: 8rem;
  margin-left: 0;
  margin-right: 0;
}

footer img {
  position: absolute;
  right: 11%;
  top: 10%;
  z-index: 21;
  border-radius: 50%;
}


footer #yhteystiedotFooter {
  font-size: 1rem;
  padding: 0.5rem;
  position: absolute;
  top: 0.5rem;
  left: 3rem;
  align-self: flex-start;

}

footer .viesti {
  right: 21%;
  top: 60%;
  position: absolute;
  z-index: 30;
}


footer #alas {
  z-index: 20;
  position: absolute;
  bottom: 0.5rem;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
}

footer #alas p {
  font-size: 0.7rem;
  padding: 0;
  margin: 0 auto;
}



#marginaaliboksi {
  height: 100%;
  display: none;
  position: fixed;
  left: 73%;
  top: 0;
  width: 40%;
  background-image: linear-gradient(to left, rgba(196, 199, 195, 0.36), rgba(146, 148, 145, 0.25));
  outline: solid;
  outline-width: 6px;
  outline-color: #37C6F4;
}


@media (max-width: 750px) {

  body {
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
  }

  section {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    right: 10%;
  }

  section img {
    display: flex;
    width: 100%;
    align-self: center;
    margin: 1.5rem auto;
    outline-style: solid;
    outline-width: 6px;
    outline-color: #A5AEBA;
    border-radius: 7%;
    box-shadow: 0px 3px 8px #999;
  }

  section p {
    line-height: 160%;
    color: #414E5B;
    font-family: 'Karla';
    font-weight: 700;
  }

  section h2 {
    font-size: x-large;
    text-align: center;
  }

  #sidenav {
    display: none;
  }

  .contentgrid {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .contentgrid article {
    width: 45%;
  }

  .contentgrid article a {
    text-align: center;
    display: table;
    margin: 0.5rem auto;
    width: 100%;
    text-align: left;
    flex-wrap: wrap;
    transition: transform .25s;
  }

  .contentgrid article a img {
    display: table;
    max-width: 100%;
    outline-style: solid;
    outline-width: 3px;
    outline-color: #A5AEBA;
    border-radius: 7%;
    box-shadow: 0px 3px 5px #999;
    margin: 0 auto;

  }

  .contentgrid article a h3 {
    display: table-caption;
    caption-side: bottom;
    margin: 0 auto;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
    text-align: left;
    font-size: 0.85rem;
    text-emphasis: none;
    text-decoration: none;
    color: #414E5B;
  }

  .contentgrid article a p {
    display: table-caption;
    caption-side: bottom;
    margin: 0 auto;
    text-align: left;
    font-family: "MapleMono";
    font-size: 0.6rem;
    text-emphasis: none;
    text-decoration: none;
    color: #414E5B;
    margin-bottom: 0.5rem;
  }


  .mobilemenu {
    display: inline;
  }

  footer {
    width: 100%;
    text-align: left;
  }

  footer p {
    font-size: 0.8rem;
  }

  footer #yhteystiedotFooter {
    position: absolute;
    left: 10%;
    top: 30%;
  }

  footer .button {
    width: 70%;
    position: absolute;
    top: 5%;
    left: 15%;
  }

  footer img {
    display: none;
  }
}

@media (min-width: 751px) and (max-width: 800px) {
  body {
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
  }

  #sidenav {
    display: none;
  }

  .mobilemenu {
    right: 7%;
    display: inline;
  }

  #mobilenav {
    width: 20%;
  }

  footer p {
    font-size: 0.8rem;
  }

  footer #yhteystiedotFooter {
    position: absolute;
    top: 15%;
  }
}

@media (min-width: 1900px) {
  .marginaaliboksi {
    display: inline;
  }

}

@media (min-width: 3000px) {
  .marginaaliboksi {
    left: 60%;
    width: 2000px;
  }
}