/* Hei näin kommentoit css:sää */
/* Laita tänne omat tyylittelyt :D */

@font-face {
  font-family: "MapleMono";
  src: url('../fonts/MapleMono-NF-Regular.woff2');
}

@font-face {
  font-family: "ArialRounded";
  src: url('../fonts/Arial-RoundedBold.woff');
}

h1 {
  font-family: "ArialRounded";
}

a:link {
  text-decoration: none;
}



body {
  width: 75%;
  max-width: 1150px;
  background-color: #ECEEEB;
  background-image: url("../images/dots7.png");
  background-size: cover;
  font-family: 'ArialRounded';
  color: #414E5B;
  margin-right: 10%;
  margin-left: 23%;
  padding: 0;
}

figure {
  text-align: center;
  display: table;
  margin: 10px auto;
  min-width: 70px;
  max-width: 300px;
}

header {
  width: 81%;
  left: 0;
  justify-content: space-around;

  h1 {
    text-align: end;
    padding-top: 2rem;
  }
}

.contentgrid {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;


  figure {
    margin-left: 1rem;
    margin-right: 1rem;
    transition: transform .3s;
  }

  figure:hover {
    transform: scale(1.1);
  }

  img {
    outline-style: solid;
    outline-width: 3px;
    outline-color: #A5AEBA;
    border-radius: 7%;
    box-shadow: 0px 3px 5px #999;
  }

  figcaption {
    h3 {
      margin: 0.5rem;
      text-align: left;
      font-size: 1.25rem;
    }

    p {
      margin: 0 auto;
      text-align: left;
      font-family: "MapleMono";
      font-size: 0.75rem;
    }

    text-emphasis: none;
    text-decoration: none;
    color: #414E5B;
    margin-bottom: 1rem;
  }
}

.sidenav {
  height: 100%;
  max-width: 19%;
  max-height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 45px;
  outline: solid;
  outline-width: 6px;
  outline-color: #37C6F4;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, rgba(196, 199, 195, 0.36), rgba(146, 148, 145, 0.36));
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start;
  align-content: space-around;
}

.sidenav a {
  padding: 0 15px 2rem 15px;
  text-decoration: none;
  font-size: 1.5vw;
  color: #414E5B;
  text-align: center;

  img {
    max-width: 30%;
    border-radius: 22%;
    box-shadow: 0px 3px 5px #666;
  }

}

.sidenav a:hover {
  color: #798999;
  animation-name: clickMe;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.mobilemenu {
  position: fixed;
  left: 60%;
  top: 70%;
  z-index: 20;
  display: none;

  img {
    width: 5rem;
    border-radius: 50%;
    box-shadow: 3px 3px 5px #b9b9b9;
  }
}

.mobilemenu:active {
  transform: scale(1.2);
}

/* .contents {
  font-size: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

@keyframes clickMe {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.button {
  background-image: linear-gradient(to top, #B7B7B7 0%, #ECEEEB 85%, #B5ECFE 100%);
  outline: solid;
  outline-color: #B7B7B7;
  outline-width: 3px;
  border-radius: 25px;
  box-shadow: 0px 3px 5px #b9b9b9;
  color: #414E5B;
  padding: 10px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: transform .2s;
}

.viesti {
  white-space: nowrap;
  text-align: center;
  height: 8%;
  width: 40%;
  max-width: 100px;
}

.button:hover {
  outline-color: #b9b9b9;
  background-image: linear-gradient(to top, #b9b9b9 0%, #B7B7B7 20%, #ECEEEB 90%, #B5ECFE 95%, #37C6E4 100%);
  animation-name: clickMe;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

footer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  height: 250px;
  width: 80%;
  max-width: 1150px;
  margin: 0 auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-family: 'ArialRounded';
  outline: solid;
  outline-width: 6px;
  outline-color: #37C6F4;
  z-index: 15;
  bottom: 0;
  background-image: linear-gradient(to top, rgba(146, 148, 145, 0.66), rgba(196, 199, 195, 0.66));
  margin-top: 8rem;

  img {
    position: relative;
    z-index: 20;
    border-radius: 50%;
  }

  .yhteystiedotFooter {
    align-self: flex-end;
  }

  .viesti {
    position: relative;
    z-index: 30;
  }

}

.alas {
  p {
    padding: 0 auto;
    margin: 0 auto;
  }

  flex-wrap: nowrap;
  padding: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
}

@media (max-width: 800px) {
  body {
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
  }

  .sidenav {
    display: none;
  }

  .contentgrid {
    display: flex;
    flex-wrap: wrap;

    figure {
      max-width: 100px;
    }

  }

  .mobilemenu {
    display: inline;
  }
}


/*
img {
  max-width: 300px;
}

h1 {
  font-size: 2em;
  text-align: center;
}



#blackbox {
  background-color: black;
} */